<html>
	<head>
		<title>Hello Marvie!</title>
		<style>
			body{
				background-color: #EFEFEF;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			}
			div{
				text-align: center;
			}
			div h1, div p{
				background-color: #FFF;
				width: 600px;
				margin: 10px auto;
				box-shadow: 1px 1px 1px #999;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			a{
				margin: 0 5px;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Hello, Marvie!</h1>
			<p>Now you are ready to use it! :P</p>
			<p>Check the <a href="http://fmsouza.github.com/marvie/documentation/">documentation</a> for tips.</p>
		</div>
	</body>
</html>