<html>
	<head>
		<title>404 - Page not found</title>
		<style>
			body{
				background-color: #DFDFDF;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			}
			div{
				text-align: center;
				margin: 0 auto;
				width: 600px;
			}
			div *{
				margin-top: 10px;
				background-color: #FFF;
				padding: 10px;
				border-radius: 5px;
				box-shadow: 3px 3px 3px #CCC;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>404 Page not found</h1>
			<p>The page you requested couldn't be found.</p>
			<p>Check if you typed the path correctly or if the page exist.</p>
		</div>
	</body>
</html>