<html>
	<head>
		<title>Error</title>
		<style type="text/css">
			body{
				background-color: #efefef;
				text-align: center;
				width: 800px;
				margin: 15px auto;
				font-family: monospace;
				color: #6e6e6e;
			}
			h1,h3{
				color: #000;
			}
			div{
				background-color: #fff;
				margin-bottom: 10px;
				box-shadow: 2px 2px 2px #CCC;
				border-radius: 6px;
				background-color: #fff;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div id="ERROR">
			<h1>Ops! Something went wrong!</h1>
		</div>
		<div id="ERROR_TYPE">
			<h3></h3>
		</div>
		<div id="ERROR_MESSAGE">
		</div>
		<div id="stackTrace">
			
		</div>
	</body>
</html>