<html>
	<head>
		<title>Error</title>
		<style type="text/css">
			body{
				background-color: #EFEFEF;
				text-align: center;
				width: 800px;
				margin: 15px auto;
				font-family: monospace;
				color: #6E6E6E;
			}
			h1,h3{
				color: #000;
			}
			div{
				background-color: #FFF;
				margin-bottom: 10px;
				box-shadow: 1px 1px 1px #999;
				background-color: #FFF;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div id="ERROR">
			<h1>Ops! Something went wrong!</h1>
		</div>
		<div id="ERROR_TYPE">
			<h3></h3>
		</div>
		<div id="ERROR_MESSAGE">
		</div>
		<div id="stackTrace">
			
		</div>
	</body>
</html>