<html>
	<head>
		<title>403 - Forbidden</title>
		<style>
			body{
				background-color: #DFDFDF;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			}
			div{
				text-align: center;
				margin: 0 auto;
				width: 600px;
			}
			div *{
				margin-top: 10px;
				background-color: #FFF;
				padding: 10px;
				border-radius: 5px;
				box-shadow: 3px 3px 3px #CCC;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>403 Forbidden</h1>
			<p>The access to the page you requested is forbidden.</p>
		</div>
	</body>
</html>